<div class="second-section">
    <div id="bigger-screen" class="container">
        <div class="flex">
            <div class="layout">
                <div class="image-layout">
                    <div class="profile-display"></div>
                </div>
            </div>
            <div class="title">
                <div class="h1">About the <br>apprenticeship</div>
                <div>
                    <p class="elm-detail-1 font-light mt-40">Our scholarships are designed to give talented and driven young people from any background access to top-class education, experience and network. We offer a fully-funded master’s degree alongside an apprenticeship and a guaranteed job upon graduation. </p>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="item1">1</div>
            <div class="item2">2</div>
            <div class="item3">3</div>  
            <div class="item4">4</div>
            <div class="item5">5</div>
          </div>
        
    </div>
    <div id="smaller-screen" class="container">
        dasd
    </div>
</div>