
button {
    border: none;
    outline: none;
    background: initial;
    cursor: pointer;
    font-family: apercuPro;
}

button:hover {
    background-color: var(--secondary_color);
}

.button-color {
    background-color: var(--primary_color);
    color: white;
}

.button-layout {
    border-radius: 29px;
    padding: 15px 30px;
}