:root {
    font-family: apercuProMedium;
    background-color: white;
    /* Color */
    --primary_color: #685DC5;
    --secondary_color: #3C237F;
    --green: #4FA16C;
    --dark-gray: #000000;
    --dark: #535353;
    --border_color: #DADADA;
    --card_bg: #FBFBFB;
    --gray_color: #6A6A6A;
}