
<mat-toolbar class="main-app-bar">
    <mat-toolbar-row class="main-app-bar-row">
        <div class="main-detail">
            <p class="font-main-app-bar">Harbour.space</p>
            <p class="font-sub-app-bar margin-layout">/interaction design</p>
        </div>
        <div class="main-detail main-detail-row">
            <a id="circle-section" class="circle" href="">
                <div class="text-layout">
                    <span>Apply<br>now</span>
                </div>
            </a>
            <div class="hamberger-section">
                <div class="hamberger-menu">
                    <i class="hamberger-menu-line"></i>
                    <i class="hamberger-menu-line"></i>
                    <i class="hamberger-menu-line"></i>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>