<div class="container-column hide-gap">
    <div class="adjust-flex">
        <div class="h1 primary-text-color">Frequently asked <br> questions</div>
        <div class="flex">
            <div class="sub-header-1 font-light dark-text-color ">Filter by:</div>
            <ng-select class="dropdown primary-text-color" [searchable]="false" [clearable]="false" placeholder="Program conditions" (click)="openDropdown()">
                <ng-option *ngFor="let list of dropDownList" [value]="list.id">{{list.name}}</ng-option>
             </ng-select>
             <span *ngIf="!toggle" class="icon-down icon"></span>
             <span *ngIf="toggle" class="icon-up icon"></span>
        </div>
    </div>
    <div class="container-column hide-gap" *ngFor="let item of mockData; let i = index">
        <app-toggle [item]="item" [lengthItem]="mockData?.length || 0" [currentIndex]="i"></app-toggle>
    </div>
</div>