<div class="first-section">
    <div id="bigger-screen" class="container">
        <div class="title">
            <div class="h1">Interaction Design<br>Apprenticeship</div>
            <div id="logo"></div>
        </div>
        <div class="zeptolab">
            <img src="../../../assets/images/Logo.png" width="80" height="80">
            <div class="zeptolab-datail">
                <p class="sub-detail-light">Powered by:</p>
                <p class="mt-10 sub-detail-light-2">Zeptolab</p>
            </div>
        </div>
        <div class="common-layout">
            <p class="elm-detail-1">A fully funded work-study program to launch your tech career </p>
        </div>
        <div class="application-close-section border-layout ">
            <p class="sub-header-1">Application closes in</p>
            <p class="elm-detail-2 font-light mt-16"> 6 Day  :  22 Hrs  :  56 Min  :  13 Seg </p>
        </div>
        <div>
            <p class="elm-detail-1 font-light">Harbour.Space has partnered with SCG to empower driven talent and eliminate the barriers to accessing exceptional education and career opportunities through a Masters Fellowship. </p>
        </div>
        <div class="application-detail border-layout ">
            <p class="sub-header-1">Location <br><span class="font-light dark-color">Bangkok</span></p>
            <p class="sub-header-1">Duration <br><span class="font-light dark-color">1 Year <br> Full-Time</span></p>
            <p class="sub-header-1">Start date<br><span class="font-light dark-color">30 June 2020</span></p>
            <p class="sub-header-1">End date<br><span class="font-light dark-color">3 Aug 2020</span></p>
        </div>
        <div>
            <p class="elm-detail-1">Position: <span class="elm-detail-1 font-light">Marketing Performance</span></p>
        </div>
        <div>
            <img class="pattern-styling" src="../../../assets/images/Pattern.png" width="547" height="255">
        </div>
        <div class="mt-16">
            <app-button [text]="'Apply now'"></app-button>
        </div>
    </div>
    <!-- smaller than 992 -->
    <div id="smaller-screen" class="container-column">
        <div class="title">
            <div class="h1">Interaction Design<br>Apprenticeship</div>
            <div id="logo"></div>
            <!-- <img id="logo" src="../../../assets/images/Icon.png" width="206" height="206"> -->
        </div>
        <div class="mt-24">
            <p class="sub-detail-light">Powered by: <span class="sub-detail-light-2">Zeptolab</span></p>
            <img class="mt-10" src="../../../assets/images/Logo.png" width="62" height="62">
        </div>
        <div class="application-close-section border-layout">
            <p class="sub-header-1">Application closes in</p>
            <p class="elm-detail-2 font-light mt-16"> 6 Day  :  22 Hrs  :  56 Min  :  13 Seg </p>
        </div>
        <div class="application-detail border-layout ">
            <p class="sub-header-1">Location <br><span class="font-light dark-color">Bangkok</span></p>
            <p class="sub-header-1">Duration <br><span class="font-light dark-color">1 Year <br> Full-Time</span></p>
            <p class="sub-header-1">Start date<br><span class="font-light dark-color">30 June 2020</span></p>
            <p class="sub-header-1">End date<br><span class="font-light dark-color">3 Aug 2020</span></p>
        </div>
        <div class="common-layout">
            <p class="elm-detail-1">A fully funded work-study program to launch your tech career </p>
        </div>
        <div class="common-layout">
            <p class="elm-detail-1 font-light">Harbour.Space has partnered with SCG to empower driven talent and eliminate the barriers to accessing exceptional education and career opportunities through a Masters Fellowship. </p> <br><br>
            <p class="elm-detail-1 font-light">Scholarship candidates will receive full financial support to complete their Masters program at Harbour.Space while gaining invaluable work experience through an internship with SCG, a leading company in the industry. </p>
        </div>
        <div class="common-layout">
            <p class="elm-detail-1">Position: <span class="elm-detail-1 font-light">Marketing Performance</span></p>
        </div>
        <div class="common-layout">
            <app-button [text]="'Apply now'"></app-button>
        </div>
    </div>
</div>
