
.first-section .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 15px;
    margin: 50px 0px;
}

#logo {
    position: absolute;
    transform: translateX(252px);
    top: 130px;
    background: url(src/assets/images/Icon.svg) no-repeat center;
    width: 206px;
    height: 206px;
}

.zeptolab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.zeptolab-datail {
    margin-left: 41px;
}

.application-close-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.application-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 30px;
    z-index: 10;
    background: white;
}

.application-detail .dark-color {
    color: var(--dark);
}

.pattern-styling {
    transform: translateY(-115px);
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 992px) {
    #logo {
        top: 80px;
        background-size: 200px 200px;
    }
}

@media only screen and (max-width: 500px) {
    #logo {
        transform: translateX(190px);
        top: 90px;
        background-size: 134px 134px;
        width: 134px;
        height: 134px;
    }
}