.main-containter {
    margin: auto;
    margin-top: 150px;
    width: 80%;
}

.containter {
    margin: auto;
    width: 80%;
}

@media only screen and (max-width: 500px) {
    .main-containter  {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .containter {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 1350px) {
    .main-containter  {
        width: 90%;
    }
}