<div id="bigger-screen" class="container border-layout">
    <div class="grid">
        <p class="sub-header-1 dark-text-color">Zeptolab</p>
        <p class="sub-header-1 dark-text-color">Location</p>
        <p class="sub-header-1 dark-text-color">Duration</p>
        <p class="sub-header-1 dark-text-color">Start date</p>
        <p class="sub-header-1 dark-text-color">Application deadline</p>
        <p class="sub-header-1 dark-text-color">Application closes in</p>
        <p class="sub-header-1 dark-text-color font-light">Marketing Performance</p>
        <p class="sub-header-1 dark-text-color font-light">Bangkok</p>
        <p class="sub-header-1 dark-text-color font-light">1 Year Full-Time</p>
        <p class="sub-header-1 dark-text-color font-light">3 Aug 2020</p>
        <p class="sub-header-1 dark-text-color font-light">30 June 2020</p>
        <p class="sub-header-1 dark-text-color font-light">6 Day   :   22 Hrs   :   56 Min</p>
    </div>
</div>
