<div class="container border-layout card">
    <div class="container-column">
        <div class="flex-layout">
            <div class="flex">
                <div class="profile"></div>
                <div class="container-column">
                    <div class="sub-header-1 dark-text-color"> {{ item.name }}</div>
                    <div class="sub-header-1 dark-text-color font-light"> {{ item.track}} </div>
                </div>
            </div>
            <div class="icon"></div>
        </div>
        <div class="bottom-section">
            <div class="container-column">
                <p class="elm-detail-3 font-light">{{ item.message }}</p>
                <div class="flex">
                    <p class="sub-header-1 dark-text-color font-light mr-10">{{ item.subDetail1 }}</p>
                    <p class="sub-header-1 dark-text-color font-light mr-10">·</p>
                    <p class="sub-header-1 dark-text-color font-light mr-10">{{ item.subDetail2 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
